# See more information and examples here: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo.
*        @jgleal @donivanes @acalvom @Franky-OB @jmtorralvo @robertoHeCi
